# Node
node_modules/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Nest CLI
.nest-cli.json
.cache/

# TypeScript
*.tsbuildinfo

# Editor/IDE
.DS_Store
.idea/
.vscode/
*.swp

# Environment variables
.env
.env.local
.env.*.local
